# SPDX-FileCopyrightText: 2022 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: AGPL-3.0-or-later
js/
.code-workspace
.DS_Store
.idea/
.vscode/
.vscode-upload.json
.*.sw*
node_modules
/vendor/
.php-cs-fixer.cache
/tests/.phpunit*
/vendor-bin/**/vendor/